{% extends 'base.html' %}
{% block content %}
<div>
    <p>I will be pleased to visit you, discuss your project, assess the options together and provide you with a detailed itemised quotation and schedule.</p>

    <p>Having someone working in your home for a period of time can sometimes feel like an intrusive process. I am very aware of this and will do all I can to minimise disruption to your daily routine and respect your privacy. Work areas will be left tidy and, where possible, useable at the end of the day.</p>
    <p><span class="label">E-mail</span><span class="field"><a href="mailto:jon@jonathan-sharp.co.uk">jon@jonathan-sharp.co.uk</a></span></p>
    <p><span class="label">Telephone</span><span class="field">07973 320277</span></p>
    <p><span class="label">Address</span><span class="field">83 Monson Road<br/>
       Redhill<br/>
       Surrey<br/>
       RH1 2EX</span></p>
</div>
{% endblock %}